@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');


:root{
    --light-color: #ed1313;
    --dark-color: #3c3744;
}

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img{
    width: 8%;
}
.navbar{
    font-size: 16px;

}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
    

}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: var(--light-color);
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;

}
.produktcontainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    padding: 2rem;
    justify-content: space-between; 
    align-items: center;
   
}

.produkt {
    width: 32%;
    border: solid .01rem;

}
.produkt img{
    width: 100%;
}
.produkt img:hover{
    transform: scale(1.1);
}

.front-container h1{
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 5rem;
}